<div class='hero'>
    <div class='container'>

        <h1 class='intro pt-5'> Monitor your budget expenditure with <i class='app-name'> $Ease-Manager</i> </h1>

        <p class='text-end pt-5'> Login and view your expenditures </p>
        <p class='text-end'> 
            <%= link_to 'LOGIN', 'users/sign_in', :class => 'btn btn-primary' %>
            <%= link_to 'SIGNUP', 'users/sign_up', :class => 'btn btn-primary' %> </p>
        </p>
    </div>
</div>
