<div class='hero'>
    <div class='container'>

        <h1 class='intro pt-5'> Manage your budget with ease</h1>

        <p class='text-end pt-5'> Login and view your expenditures </p>
        <p class='text-end'> <%= link_to 'LOGIN', 'users/sign_in', :class => 'btn btn-primary' %> </p>
    </div>
</div>
